@use "../abstracts" as *;

.home {
  display: flex;
  justify-content: space-evenly;
  gap: $size-2-base;

  &__contents {
    @include grid-content-center;
    flex: 1.25;
    padding-block: $size-3-base;
    padding-inline: clamp($size-xsmall, 2vw, $size-2-base);
    background-color: $dark;
  }

  &__img-wrapper {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: $size-2-base;
  }

  &__img {
    flex: 3.5;
    width: 100%;
    position: relative;

    img {
      width: 100%;
      height: 100%;
    }

    figcaption {
      @include flex-center;
      justify-content: space-evenly;
      width: 100%;
      gap: clamp($size-xsmall, 1vw, $size-2-base);
      position: absolute;
      left: 0;
      bottom: $size-2-base;
    }
  }

  &__image-extra {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: $size-2-base;

    img {
      border-radius: $size-xsmall;
      width: clamp($size-8-base, 9vw, $size-9-base);
    }
  }
}

@media (max-width: 768px) {
  .home {
    &__img {
      figcaption .button {
        display: none;
      }
    }
  }
}

@media (max-width: 700px) {
  .home {
    flex-direction: column;

    &__img {
      figcaption .button {
        display: flex;
      }
    }
  }
}
