@use "../abstracts" as *;

.portfolio {
  &__flex {
    @include flex-between-center;
    margin-bottom: clamp($size-2-base, 4vw, $size-4-base);
  }

  &__title {
    display: flex;
    flex-direction: column-reverse;

    h2 {
      width: clamp(20rem, 45vw, 45rem);
    }
  }

  &__images {
    @include flex-evenly-center;
    @include flex-wrap;
    gap: $size-3-base $size-2-base;

    figure {
      max-width: 38rem;
      width: 100%;
      filter: grayscale(80%);
      transition: $transition;
      

      img {
        width: 100%;
        height: 30rem;
      }

      figcaption {
        padding-block: $size-base;
        text-align: center;
      }

      &:hover,
      &:focus-visible {
        filter: grayscale(0%);
        transform: scale(1.02);
      }
    }
  }
}
