@use "../abstracts" as *;

.faqs {
  &__accordion {
    display: grid;
    gap: clamp(1.5rem, 2vw, 2rem);
    max-width: 67rem;
    width: 100%;

    .accordion {
      border: $borderPrimary;
      border-radius: $size-xsmall;
      padding: clamp(1rem, 1.6vw, 1.6rem);

      &__button {
        @include flex-between-center;
        gap: $size-2-base;
        width: 100%;
        cursor: pointer;

        .accordion__question {
          opacity: 1;
          font-weight: $fw-medium;
          text-align: left;
        }

        img {
          width: clamp(1.2rem, 2vw, 1.6rem);
          transition: $transition;
        }
      }

      &__answer {
        max-height: 0;
        overflow: hidden;
        pointer-events: none;
        transition: $transition;
      }

      &.active > .accordion__answer {
        max-height: $size-20-xl;
        padding-top: clamp(1rem, 1.6vw, 1.2rem);
        pointer-events: all;
      }

      &.active > .accordion__button img {
        transform: rotate(180deg);
      }
    }
  }
}
