@use "../abstracts" as *;

.form {
  width: 100%;
  background-image: $gradientPrimary;
  border-radius: $size-xsmall;
  padding-block: $size-2-base $size-3-base;
  padding-inline: $size-2-base;

  h3 {
    text-align: center;
    margin-bottom: $size-2-base;
  }

  form {
    max-width: 60rem;
    width: 100%;
    margin-inline: auto;
    position: relative;

    .form-flex {
      @include flex-evenly-center;
      gap: $size-base;

      &:last-child {
        justify-content: center;
        flex-direction: row;
        gap: $size-2-base;
      }
    }

    .input-group {
      width: 100%;
      position: relative;
      margin-bottom: $size-2-base;

      input,
      textarea {
        width: 100%;
        color: $lightPrimary;
        letter-spacing: 0.15rem;
        background-color: $dark;
        padding: $size-small;
        border-radius: $size-xsmall;
        border: none;
      }

      label {
        position: absolute;
        inset: $size-small;
        opacity: $opacity;
        transition: $transition;
      }

      input:focus-visible ~ label,
      input:valid ~ label,
      textarea:focus-visible ~ label,
      textarea:valid ~ label {
        transform: translateY(-3rem);
        font-size: 1.3rem;
        font-weight: $fw-semiBold;
        color: $dark;
      }
    }
  }
}

@media (max-width: 375px) {
  .form {
    form {
      .form-flex {
        @include flex-wrap;
        flex-direction: column;
        gap: 0;
      }
    }
  }
}
