@use "../abstracts" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", system-ui, sans-serif;
}

html {
  font-size: 62.5%;
  color-scheme: dark;
  scroll-behavior: smooth;
  scroll-padding-top: $size-10-base;
}

body {
  max-width: $maxWidth;
  margin-inline: auto;
}

h1,
.h1 {
  font-size: clamp(3rem, 4vw, 5rem);
  font-weight: $fw-semiBold;
  line-height: 1;
  margin-bottom: $size-2-base;
}

h2,
.h2 {
  font-size: clamp(2.5rem, 3.5vw, 3.5rem);
  font-weight: $fw-semiBold;
  line-height: 1.2;
}

h3, .h3 {
  font-size: clamp(2rem, 2.5vw, 2.5rem);
  font-weight: $fw-medium;
  line-height: 1.2;
}

h4, .h4 {
  font-size: clamp(1.8rem, 2vw, 2rem);
  font-weight: $fw-medium;
  line-height: 1.2;
}

h5, .h5 {
  font-size: clamp(1.6rem, 1.8vw, 1.8rem);
  font-weight: $fw-medium;
  line-height: 1.2;
}

p, .p {
  font-size: clamp(1.4rem, 1.6vw, 1.6rem);
  font-weight: $fw-light;
  line-height: 1.6;
  opacity: $opacity;
}

span {
  font-size: clamp(1.4rem, 2vw, 1.8rem);
  opacity: $opacity;
}

figcaption {
  font-size: clamp(1.4rem, 2vw, 1.6rem);
}

input, textarea, label {
  font-size: $size-base;
  font-weight: $fw-light;
  line-height: 1.6;
}

a {
  display: block;
  font-size: clamp(1.4rem, 2vw, 1.8rem);
  font-weight: $fw-semiBold;
  line-height: 1.2;
  color: $light;
  transition: $transition;
  cursor: pointer;
}

a:hover,
a:focus-visible {
  opacity: $opacity;
}

img,
svg {
  max-width: 100%;
  max-height: 100%;
  display: block;
  border-radius: $size-xsmall;
  object-fit: cover;
  object-position: center;
}

section {
  max-width: 100%;
}

.wrapper-section {
  width: $widthDekstop;
  margin-inline: auto;
  padding-block: clamp(3rem, 5vw, 5rem);
}

@media (max-width: 1024px) {
  html {
    font-size: 55%;
  }

  .wrapper-section {
    width: $widthSmall;
  }
}

@media (max-width: 300px) {
  html {
    font-size: 50%;
  }
}
