$lightPrimary: #edf1f7;
$lightAccent: #bfbcc2;
$light: #e4e3e6;
$green: #3bc9f3;
$blue: #1591d8;
$dark: #080808;
$darkGrey: #393939;
$transition: all 250ms ease-in-out;
$opacity: .7;

$gradientPrimary: linear-gradient(135deg, #3bc9f3 24%, #1591d8 85%);
$boxShadow: 0 0 1rem $green;
$borderPrimary : .1rem solid $darkGrey;
$borderSecondary : .3rem solid $green;
$borderLight : .2rem solid $lightPrimary;
$border : .1rem solid hotpink;

$size-xsmall: 0.5rem;
$size-small: 1rem;
$size-base: 1.6rem;
$size-1-xl: 1.8rem;
$size-2-base: 2rem;
$size-2-xl: 2.5rem;
$size-3-base: 3rem;
$size-4-base: 4rem;
$size-5-base: 5rem;
$size-6-base: 6rem;
$size-7-base: 7rem;
$size-8-base: 8rem;
$size-9-base: 9rem;
$size-10-base: 10rem;
$size-20-base: 20rem;
$size-20-xl: 25rem;

$fw-thin: 100;
$fw-extraLight: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semiBold: 600;
$fw-bold: 700;
$fw-extraBold: 800;
$fw-black: 900;

$widthDekstop: 90%;
$widthSmall: 95%;
$maxWidth: 144rem;
